.container {
  max-width: 780px;
  width: 100%;
  padding: 0 1rem;
  margin: auto;
}

.guesses {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 0 5rem -2rem;
  padding: 0.5rem 2rem;
  width: calc(100% + 4rem);
  background-color: #e2e2e2;
}