$slider-handler-diagonal: 3rem;

.slider {
    
  &Bar {
    height: 3px;
    background-color: #666;
  }

  &Handler {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $slider-handler-diagonal;
    height: $slider-handler-diagonal;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #666;
    color: #e2e2e2;
    font-weight: bold;
    margin-top: calc((#{$slider-handler-diagonal} - 3px / 2) / -2);
    background: #888 linear-gradient(to bottom, #222, #a2a2a2);
  }
}